@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS RESET */

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

/* HEADER */

body {background-color: #262626;}

.header {
  background-color: #1d1d1d; padding: 15px; margin-bottom: 40px;}

.logo img{ max-width: 120px;}

ul.nav a {
  color: white;
}

ul.nav a:hover { color: #ff7f11 !important; }

.btn .material-icons {
  padding: 10px;
  line-height: 0.5;
}

/* MAIN */

main {
  color: white;
}

.title {
  margin: 40px 0;
}

.videoWrapper{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  cursor: pointer;
}

.card {
  cursor: pointer;
}

.card-transparent {
  cursor: pointer;
}

/* LANÇAMENTOS */

.releases-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.banner {
  background-color: #1d1d1d80 ;
}

.carousel-inner {
  margin: 40px 0;
  padding-bottom: 80px;
}

.carousel-inner p {
  font-size: 0.75em;
}

.infos a {
  color: #FF7F11;
}

.film-info {
  display: flex;
  text-align: justify;
}

.film-info p + p {
  margin-left: 10px;
}

.actors ul {
  display: flex;
}

/* DESTAQUES */

.destaque .navbar {
  padding-left: 0 !important;
}

.destaque .title {
  margin: 40px 0px;
  padding-left: 0;
}

.destaque .nav-tabs {
  margin: 10px 0 0 0;
  border-color: transparent !important;
}

.destaque .nav-tabs .nav-link{
  border-color: transparent;
}

.destaque .nav-tabs a {
  color: #FF7F11 !important;
}

.destaque .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color:transparent;
  border-color: transparent;
}

.dropdown-menu.show {
  background-color:#1d1d1db6 ;
}

.dropdown-menu.show :hover {
  background-color: #1d1d1d80;
  cursor: pointer;
}

.dropdown-divider {
  border-color: #1d1d1d!important;
}


.film_cards .card-transparent{
  margin: 10px 0 !important;
}

.film_cards img {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

/* REVIEWS */

.reviews .review_cards {
  background-color: #1d1d1d80;
}

.reviews .review_title {
  padding-left: 0;
}

.reviews .card{
  background-color: #262626;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  margin: 40px;
  max-width: 80%;
  padding: 0;
  border-color: transparent;
}

.reviews .card-img-top {
  border-radius: 50%;
  width: 100%;
  padding: 20px;
}

/* INTERVIEWS */

.interviews_title {
  padding-left: 0;
}

.interviews .card {
  background-color: #262626;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  margin: 20px auto;
  max-width: 80%;
  padding: 0;
  border-color: transparent;
}

.interviews .card-text {
  margin-top: 40px;
}

.card-text a {
  color: #FF7F11 !important;
}

.interviews .card-info {
  display: flex;
}

.card-info p + p {
  margin-left: 5px;
}

/* NOTÍCIAS */

.news_title {
  padding-left: 0;
}

.posts a {
  color: white;
  text-decoration: none;
}

.posts .card {
  background-color: #262626;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  margin: 20px 0;
  max-width: 80%;
  padding: 0;
  border-color: transparent;
}

.posts .card img {
  max-width: 100%;
}

/* SOBRE */

#editorial .about p {
  text-align: justify;
}

#editorial li {
  display: flex;
}

/* MAIN */

/* FOOTER */

.footer {
  background-color: #1d1c1c;
  padding: 10px; 
  color: rgba(255, 255, 255, 0.5);
  margin-top: 40px;
}

.footer .navbar-brand {
  cursor: default;
}

/* MEDIA QUERIES */

@media only screen and (max-width:768px) {
  .form-inline {
    display: none;
  }
}

@media only screen and (min-width:668px) and (max-width:768px) {

  .carousel-inner {
    padding: 0 20px;
    padding-bottom: 80px;
  }

  .review_cards .card{
    margin: 20px;
  }
 
} 

@media only screen and (max-width: 667px) {
  .reviews .card-img-top {
    display: none;
  }

  #destaque h1 {
    text-align: center;
  }
  
  #reviews .title {
    text-align: center;
  }

  .interviews_title .title {
    text-align: center;
  }

  .news_title .title {
    text-align: center;
  }

  .posts .card {
    margin: 20px auto;
  }

  .posts .card img {
    display: none;
  }
}
  
